
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-right" id="navbarTogglerDemo01">
        
        <a class="navbar-brand" href="{{site.baseurl}}/">BotAlgorithme : <span style="color: lightgreen;"><i class="fal fa-leaf"></i></span> + <span style="color: orange;"><i class="fal fa-code"></i></span> = <span style="color: red;"><i class="fal fa-heart"></i></span></a>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">        
         
          <li class="nav-item dropdown  ml-2">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Water<span style="color: lightblue;"><i class="fal fa-tint ml-1 mr-1"></i></span></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{site.baseurl}}/water/water">The models</a>
              <div class="dropdown-divider"></div>
              <h5 class="dropdown-header">Exercices</h5>
              <a class="dropdown-item" href="{{site.baseurl}}//water/mecha">MECHA</a>
              <a class="dropdown-item" href="{{site.baseurl}}//water/marshal">MARSHAL</a>
              <a class="dropdown-item" href="{{site.baseurl}}//water/tardieu_davies">Tardieu-Davies</a>
              <a class="dropdown-item" href="{{site.baseurl}}//architecture/hydropatterning">Hydropatterning</a>
            </div>
          </li>

          <li class="nav-item dropdown  ml-2">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Carbon<span style="color: orange;"><i class="fal fa-sun ml-1 mr-1"></i></span></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{site.baseurl}}/carbon/carbon">The models</a>
              <div class="dropdown-divider"></div>
              <h5 class="dropdown-header">Exercices</h5>
              <a class="dropdown-item" href="{{site.baseurl}}/carbon/Farqhuar">Farqhuar</a>
            </div>
          </li>

          <li class="nav-item dropdown  ml-2">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Architecture<span style="color: lightgreen;"><i class="fab fa-pagelines ml-1 mr-1"></i></span></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{site.baseurl}}/architecture/architecture">The models</a>
              <div class="dropdown-divider"></div>
              <h5 class="dropdown-header">Exercices</h5>
              <a class="dropdown-item" href="{{site.baseurl}}/architecture/crootbox">CRootbox</a>
              <a class="dropdown-item" href="{{site.baseurl}}/architecture/granar">GRANAR</a>
              <a class="dropdown-item" href="{{site.baseurl}}/architecture/hydropatterning">Hydropatterning</a>
            </div>
          </li>          
          
          <li class="nav-item  ml-2">
            <a class="nav-link" href="{{site.baseurl}}/about">About <span style="color: lightgreen;"><i class="fal fa-plus-circle ml-1"></i></span></a>

          </li>

        </ul>


                

      </div>
    </nav>