
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-right" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{{site.baseurl}}">BotAlgorithme : <span style="color: lightgreen;"><i class="fal fa-leaf"></i></span> + <span style="color: orange;"><i class="fal fa-code"></i></span> = <span style="color: red;"><i class="fal fa-heart"></i></span></a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item ml-2">
            <a class="nav-link" href="{{site.baseurl}}">La plante et l'eau<span style="color: lightblue;"><i class="fal fa-tint ml-1"></i></span></a>
          </li>          
          <li class="nav-item dropdown  ml-2">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Exemples d'exercices</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{site.baseurl}}mecha">MECHA</a>
              <a class="dropdown-item" href="{{site.baseurl}}marshal">MARSHAL</a>
            </div>
          </li>
          <li class="nav-item  ml-2">
            <a class="nav-link" href="{{site.baseurl}}about">A propos <span style="color: lightgreen;"><i class="fal fa-plus-circle ml-1"></i></span></a>
          </li>
        </ul>
      </div>
    </nav>